# Spark Dataframe

https://qiita.com/taka4sato/items/4ab2cf9e941599f1c0ca

# Load web sever log
Normalize the column names.

In [1]:
val logs = spark.read.format("csv")
    .option("header", true)
    .option("delimiter", ",")
    .option("dateFormat", "yyyy-MM-dd")
    .option("inferSchema", true)
    .option("quote", "\"")
    .load("../resources/click_data_sample.csv")
    .withColumnRenamed("click.at", "access_time")
    .withColumnRenamed("user.id", "userID")
    .withColumnRenamed("campaign.id", "campaignID")
logs.printSchema()

root
 |-- access_time: timestamp (nullable = true)
 |-- userID: integer (nullable = true)
 |-- campaignID: string (nullable = true)

logs = [access_time: timestamp, userID: int ... 1 more field]

[access_time: timestamp, userID: int ... 1 more field]

In [6]:
logs.show(10)

+-------------------+------+-----------+
|        access_time|userID| campaignID|
+-------------------+------+-----------+
|2015-04-27 20:40:40|144012|Campaign077|
|2015-04-27 00:27:55| 24485|Campaign063|
|2015-04-27 00:28:13| 24485|Campaign063|
|2015-04-27 00:33:42| 24485|Campaign038|
|2015-04-27 01:00:04| 24485|Campaign063|
|2015-04-27 16:10:29|145066|Campaign103|
|2015-04-27 20:06:46|145066|Campaign103|
|2015-04-27 14:52:51|167405|Campaign027|
|2015-04-27 22:08:46|167405|Campaign027|
|2015-04-27 20:11:34| 80524|Campaign054|
+-------------------+------+-----------+
only showing top 10 rows

# Dataframe Operations

### Filter 

1. Using $-notation

<pre>
requires: import spark.implicits._
df.filter($"age" > 18)
</pre>

2. Referring to the Dataframe
<pre>
df.filtter(df ("age") > 18))
</pre>

3. Using SQL query string
<pre>
df.filtter("age > 18") 
</pre>

In [7]:
logs
.filter(($"access_time" < "2015-04-28") && ($"userID" > 24485))
.count()

35026

### Select

In [5]:
logs.select("access_time", "userID").show(3)

+-------------------+------+
|        access_time|userID|
+-------------------+------+
|2015-04-27 20:40:40|144012|
|2015-04-27 00:27:55| 24485|
|2015-04-27 00:28:13| 24485|
+-------------------+------+
only showing top 3 rows

### GroupBy

In [12]:
import org.apache.spark.sql.functions.desc
logs.groupBy("campaignID", "userID").count().sort(desc("count")).show(5)

+-----------+------+-----+
| campaignID|userID|count|
+-----------+------+-----+
|Campaign047| 30292|  633|
|Campaign086|107624|  623|
|Campaign047|121150|  517|
|Campaign086| 22975|  491|
|Campaign122| 90714|  431|
+-----------+------+-----+
only showing top 5 rows